.header, .header__nav__links, .first-section, .second-section__cards, .third-section__articles, .footer, .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials, .footer__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: white;
}

body li {
  list-style: none;
}

body button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
}

body button:hover {
  cursor: pointer;
}

.cta-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  padding: 0.7rem 2.3rem;
  border-radius: 50px;
  border: none;
  font-size: 0.8rem;
  color: white;
}

.cta-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 0 8vw;
  background: white;
}

.header__nav {
  width: 35%;
}

.header__nav__links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav__links__link-outer {
  padding: 1.4rem 0;
  color: #9698a6;
  font-size: 0.8rem;
}

.header__nav__links__link-outer:hover {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

.header__nav__links__link-inner {
  padding: 1.4rem 0 1.2rem;
  background: white;
}

.header__nav__mobile-menu {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.first-section {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
  height: 33rem;
  padding-left: 8vw;
  background: #fafafa;
}

.first-section__text-container {
  width: 37%;
}

.first-section__text-container__heading {
  margin-bottom: 7%;
  color: #2d314d;
  font-weight: 400;
  font-size: 2.8rem;
}

.first-section__text-container__text {
  margin-bottom: 7%;
  color: #9698a6;
  line-height: 1.5rem;
}

.first-section__img-container {
  position: relative;
  right: -3rem;
  height: 33rem;
  background: 12% 60% no-repeat url(../images/bg-intro-desktop.svg);
}

.first-section__img-container__img {
  margin: -25% 0 0 10%;
}

.second-section {
  padding: 4.5rem 8vw;
  background: #f3f4f6;
}

.second-section__heading {
  width: 60%;
  margin-bottom: 6%;
}

.second-section__heading__title {
  margin-bottom: 3%;
  color: #2d314d;
  font-weight: 400;
  font-size: 1.7rem;
}

.second-section__heading__text {
  color: #9698a6;
  line-height: 1.5rem;
}

.second-section__cards {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.second-section__cards__card {
  width: 23%;
}

.second-section__cards__card__title {
  margin: 1.7rem 0;
  color: #2d314d;
  font-weight: 400;
  font-size: 1.2rem;
}

.second-section__cards__card__text {
  color: #9698a6;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.4rem;
}

.third-section {
  padding: 4.5rem 8vw;
  background: #fafafa;
}

.third-section__heading {
  margin-bottom: 4%;
  color: #2d314d;
  font-weight: 400;
  font-size: 1.7rem;
}

.third-section__articles {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-section__articles__article {
  width: 23%;
  background: white;
  border-radius: 7px;
}

.third-section__articles__article__img {
  width: 100%;
  height: 10rem;
  border-radius: 7px 7px 0 0;
}

.third-section__articles__article__wrapper {
  padding: 1.1rem;
  height: 13rem;
}

.third-section__articles__article__author {
  color: #9698a6;
  font-size: 0.8rem;
}

.third-section__articles__article__title {
  margin: 0.7rem 0;
  color: #2d314d;
  font-weight: 400;
  font-size: 1rem;
}

.third-section__articles__article__title:hover {
  cursor: pointer;
  color: #31d35c;
}

.third-section__articles__article__text {
  color: #9698a6;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.footer {
  padding: 3rem 8vw 2rem;
  background: #2d314d;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__socials {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5.5rem;
}

.footer__socials__logo > g > path {
  fill: #f3f4f6;
}

.footer__socials__icons {
  color: #f3f4f6;
}

.footer__socials__icons__icon {
  margin: 0 0.3rem;
}

.footer__socials__icons__icon:hover path {
  fill: #31d35c;
}

.footer__links {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin-right: 15%;
  color: #f3f4f6;
  font-size: 0.8rem;
  font-weight: 300;
  height: 6rem;
}

.footer__links__group-1 li {
  margin-bottom: 1.1rem;
}

.footer__links__group-1 li:hover a {
  color: #31d35c;
}

.footer__links__group-2 li {
  margin-bottom: 1.1rem;
}

.footer__links__group-2 li:hover a {
  color: #31d35c;
}

.footer__cta {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
}

.footer__cta__trademark {
  color: #9698a6;
  font-size: 0.8rem;
}

@media screen and (min-width: 3000px) {
  .header, .header__nav, .first-section, .second-section__cards, .third-section__articles, .footer, .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials, .footer__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta-btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
    padding: 1rem 3rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    color: white;
  }
  .cta-btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 6rem;
    padding: 0 12vw;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30%;
  }
  .header__nav__link-outer {
    padding: 2.1rem 0;
    font-size: 1.1rem;
  }
  .header__nav__link-inner {
    padding: 2.1rem 0 1.8rem;
  }
  .first-section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 4rem;
    height: 36rem;
    padding-left: 12vw;
  }
  .first-section__text-container {
    width: 37%;
  }
  .first-section__text-container__heading {
    margin-bottom: 7%;
    font-size: 3rem;
  }
  .first-section__text-container__text {
    margin-bottom: 7%;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .first-section__img-container {
    position: relative;
    right: 0;
    width: 50%;
    height: 36rem;
    background: right no-repeat url(../images/bg-intro-desktop.svg);
  }
  .first-section__img-container__img {
    width: 65%;
    height: auto;
    margin: -20% 0 0 40%;
  }
  .second-section {
    padding: 8rem 12vw;
  }
  .second-section__heading {
    width: 40%;
    margin-bottom: 4%;
  }
  .second-section__heading__title {
    margin-bottom: 3%;
    font-size: 2rem;
  }
  .second-section__heading__text {
    font-size: 1.5rem;
    line-height: 2.7rem;
  }
  .second-section__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .second-section__cards__card {
    width: 21%;
  }
  .second-section__cards__card__title {
    margin: 2rem 0;
    font-size: 1.5rem;
  }
  .second-section__cards__card__text {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .third-section {
    padding: 8rem 12vw;
  }
  .third-section__heading {
    margin-bottom: 4%;
    font-size: 2rem;
  }
  .third-section__articles {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .third-section__articles__article {
    width: 21%;
    border-radius: 7px;
  }
  .third-section__articles__article__img {
    width: 100%;
    height: 18rem;
    border-radius: 7px 7px 0 0;
  }
  .third-section__articles__article__wrapper {
    padding: 1.7rem;
    height: 15rem;
  }
  .third-section__articles__article__author {
    font-size: 1rem;
  }
  .third-section__articles__article__title {
    margin: 0.7rem 0;
    font-size: 1.5rem;
  }
  .third-section__articles__article__text {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .footer {
    padding: 5rem 12vw 4rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 8rem;
  }
  .footer__socials__icons__icon {
    margin: 0 0.6rem;
  }
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 20%;
    margin-right: 20%;
    font-size: 1.1rem;
    height: 8rem;
  }
  .footer__links__group-1 li {
    margin-bottom: 1.5rem;
  }
  .footer__links__group-2 li {
    margin-bottom: 1.5rem;
  }
  .footer__cta {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 8rem;
  }
  .footer__cta__trademark {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1100px) {
  .header__nav__links, .second-section__cards, .third-section__articles, .footer, .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials, .footer__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__nav {
    width: 65%;
  }
  .header__nav__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav__links__link-inner {
    padding: 1.4rem 0 1.2rem;
    background: white;
  }
  .header__btn {
    display: none;
  }
  .first-section {
    margin-top: 4rem;
    height: 25rem;
    padding-left: 3rem;
  }
  .first-section__text-container {
    width: 75%;
  }
  .first-section__text-container__heading {
    margin-bottom: 9%;
    font-size: 2rem;
  }
  .first-section__text-container__text {
    margin-bottom: 9%;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .first-section__img-container {
    position: relative;
    right: -2rem;
    height: 33rem;
    background: 0 60% no-repeat url(../images/bg-intro-desktop.svg);
  }
  .first-section__img-container__img {
    width: 120%;
    height: auto;
    margin: -5% 0 0 30%;
  }
  .second-section {
    padding: 3rem 3rem;
  }
  .second-section__heading {
    width: 80%;
    margin-bottom: 9%;
  }
  .second-section__heading__title {
    margin-bottom: 3%;
    font-size: 1.7rem;
  }
  .second-section__cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second-section__cards__card {
    width: 45%;
    margin-bottom: 9%;
  }
  .second-section__cards__card__title {
    margin: 1.7rem 0;
    font-size: 1.2rem;
  }
  .second-section__cards__card__text {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .third-section {
    padding: 3rem 3rem;
  }
  .third-section__heading {
    margin-bottom: 9%;
    font-size: 1.7rem;
  }
  .third-section__articles {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .third-section__articles__article {
    width: 45%;
    margin-bottom: 9%;
    border-radius: 7px;
  }
  .third-section__articles__article__img {
    width: 100%;
    height: 12rem;
    border-radius: 7px 7px 0 0;
  }
  .third-section__articles__article__wrapper {
    padding: 1.1rem;
    height: 13rem;
  }
  .third-section__articles__article__author {
    font-size: 0.8rem;
  }
  .third-section__articles__article__title {
    margin: 0.7rem 0;
    font-size: 1rem;
  }
  .third-section__articles__article__text {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .footer {
    padding: 3rem 3rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 6rem;
  }
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 30%;
    margin: 0;
    font-size: 0.8rem;
    height: 7rem;
  }
  .footer__links__group-1 li {
    margin-bottom: 1.3rem;
  }
  .footer__links__group-2 li {
    margin-bottom: 1.3rem;
  }
  .footer__cta {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 6rem;
  }
  .footer__cta__trademark {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 700px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-section, .first-section__text-container, .second-section__cards, .third-section__articles, .footer, .footer__socials, .footer__links, .footer__cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cta-btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
    background: linear-gradient(to right, #31d35c, #2bb7da);
    padding: 0.7rem 2.3rem;
    border-radius: 50px;
    border: none;
    font-size: 0.8rem;
    color: white;
  }
  .cta-btn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 3rem;
    padding: 0 1.5rem;
  }
  .header__nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header__nav__links {
    display: none;
    position: fixed;
    z-index: 999;
    top: 3.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 5px;
    background: white;
    color: #2d314d;
  }
  .header__nav__links__link-inner {
    display: block;
    text-align: center;
    padding: 1.1rem 0;
    color: #2d314d;
  }
  .header__nav__mobile-menu {
    display: inline-block;
  }
  .header__btn {
    display: none;
  }
  .first-section {
    margin-top: 3rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 0;
    text-align: center;
  }
  .first-section__text-container {
    width: 100%;
    padding: 1.5rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .first-section__text-container__heading {
    margin-bottom: 8%;
    font-size: 1.7rem;
  }
  .first-section__text-container__text {
    margin-bottom: 8%;
    font-size: 0.7rem;
    line-height: 1.2rem;
  }
  .first-section__img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: center no-repeat url(../images/bg-intro-mobile.svg);
    background-size: cover;
  }
  .first-section__img-container__img {
    width: 100%;
    height: auto;
    margin: -7rem 0 0;
  }
  .second-section {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .second-section__heading {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .second-section__heading__title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  .second-section__heading__text {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .second-section__cards__card {
    width: 100%;
    margin: 2.5rem 0 0;
  }
  .second-section__cards__card__title {
    margin: 1.3rem 0;
    font-size: 1.2rem;
  }
  .second-section__cards__card__text {
    font-size: 0.7rem;
  }
  .third-section {
    padding: 3rem 1.5rem;
  }
  .third-section__heading {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    text-align: center;
  }
  .third-section__articles__article {
    width: 100%;
    margin: 1.5rem 0;
    border-radius: 7px;
  }
  .third-section__articles__article__img {
    width: 100%;
    height: auto;
    border-radius: 7px 7px 0 0;
  }
  .third-section__articles__article__wrapper {
    padding: 1.1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .third-section__articles__article__author {
    font-size: 0.7rem;
  }
  .third-section__articles__article__title {
    margin: 0.7rem 0;
    font-size: 1rem;
  }
  .third-section__articles__article__text {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }
  .footer {
    padding: 3rem 1.5rem 2rem;
    text-align: center;
  }
  .footer__socials {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 1.5rem;
  }
  .footer__socials__icons {
    margin-top: 1.5rem;
  }
  .footer__socials__icons__icon {
    margin: 0 0.3rem;
  }
  .footer__links {
    width: 100%;
    margin: 0 0 1.5rem;
    font-size: 0.8rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__links__group-1 li {
    margin-bottom: 1.1rem;
  }
  .footer__links__group-2 li {
    margin-bottom: 1.1rem;
  }
  .footer__links__group-2 li:last-child {
    margin: 0;
  }
  .footer__cta {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer__cta__trademark {
    margin: 1.5rem 0;
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */